h1{ 
    position: relative;
    background-color: rgb(0, 0, 0);
    color: rgb(228, 221, 38);
    top: -43px;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    z-index: auto;
    font-size: 66px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(https://cdn.wallpapersafari.com/45/49/XD9whF.jpg);
}
section{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-color: aqua;
    border-style: solid;
    border-radius: 40px;
    border-width: 5px;
    max-width: 180px;
    padding-left: 20pt;
    padding-right: 5px;
    position: relative;
    top: 10px;
    left: 0px;
    
}

